.app-container{

}

.cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answers {
  display: grid;
  text-align: center;
  .answer {
    width: 300px;
    height: 50px;
  }
}

.question {
  text-align: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;

  .btn-start {
    background-color: #49af30;
    color: cornsilk;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin: 10px;
    &:disabled {
      opacity: 0.5;
    }
  }

  .score {
    margin: 20px;
  }
}
